node-red/data/flows.json
[
    {
        "id": "c94a48577bafaee9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9905b02a938aa90d",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3cb750b9c42ea4cf",
        "type": "mqtt-broker",
        "name": "BEIA",
        "broker": "mqtt.beia-telemetrie.ro",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "abebea10540344c8",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": 8086,
        "protocol": "http",
        "database": "training",
        "name": "Project DB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "910215272419a7b1",
        "type": "mqtt in",
        "z": "c94a48577bafaee9",
        "name": "",
        "topic": "training/device/dimitrie-constantin/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3cb750b9c42ea4cf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 140,
        "wires": [
            [
                "2f6862c23e9fa1ce",
                "aaa48265b075ad54"
            ]
        ]
    },
    {
        "id": "2f6862c23e9fa1ce",
        "type": "json",
        "z": "c94a48577bafaee9",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 190,
        "y": 260,
        "wires": [
            [
                "7bf69f4c5b16af35"
            ]
        ]
    },
    {
        "id": "50384029c646c5d5",
        "type": "function",
        "z": "c94a48577bafaee9",
        "name": "format influx data",
        "func": "msg.payload = [\n    { temperature: msg.reading.temperature },\n    { device: msg.reading.device }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 420,
        "wires": [
            [
                "4060417b11d22ca5",
                "ac2d8fc147900465"
            ]
        ]
    },
    {
        "id": "4060417b11d22ca5",
        "type": "influxdb out",
        "z": "c94a48577bafaee9",
        "influxdb": "abebea10540344c8",
        "name": "",
        "measurement": "sensor",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 430,
        "y": 600,
        "wires": []
    },
    {
        "id": "ac2d8fc147900465",
        "type": "debug",
        "z": "c94a48577bafaee9",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 160,
        "y": 600,
        "wires": []
    },
    {
        "id": "aaa48265b075ad54",
        "type": "debug",
        "z": "c94a48577bafaee9",
        "name": "debug in",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 80,
        "wires": []
    },
    {
        "id": "7bf69f4c5b16af35",
        "type": "function",
        "z": "c94a48577bafaee9",
        "name": "prepare",
        "func": "let p = msg.payload;\nif (typeof p === \"string\") {\n    try { p = JSON.parse(p); } catch (e) { /* ramane string */ }\n}\n\nlet val;\nif (typeof p === \"object\" && p !== null) {\n    val = p.temperature;\n} else {\n    val = parseFloat(p);\n}\n\nif (val === undefined || isNaN(val)) {\n    node.warn(\"Valoare invalida: \" + JSON.stringify(msg.payload));\n    return null;\n}\n\nmsg.reading = {\n    time: new Date().toISOString(),\n    device: \"dimitrie-constantin\",\n    temperature: val\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 260,
        "wires": [
            [
                "7a9ea8c4c1d01cd6",
                "50384029c646c5d5"
            ]
        ]
    },
    {
        "id": "7a9ea8c4c1d01cd6",
        "type": "function",
        "z": "c94a48577bafaee9",
        "name": "to jsonl",
        "func": "msg.payload = JSON.stringify(msg.reading);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 220,
        "wires": [
            [
                "21b149a78e086248"
            ]
        ]
    },
    {
        "id": "21b149a78e086248",
        "type": "file",
        "z": "c94a48577bafaee9",
        "name": "",
        "filename": "/data/local/sensor-data.jsonl",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 660,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "237265ae3b15b875",
        "type": "inject",
        "z": "9905b02a938aa90d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "1a174ddbcefba487"
            ]
        ]
    },
    {
        "id": "1a174ddbcefba487",
        "type": "function",
        "z": "9905b02a938aa90d",
        "name": "function 2",
        "func": "msg.payload = Math.round(Math.random() * 11) + 20;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 300,
        "wires": [
            [
                "f3a44a2e4645a7c2",
                "4ba681263bb8432c"
            ]
        ]
    },
    {
        "id": "f3a44a2e4645a7c2",
        "type": "mqtt out",
        "z": "9905b02a938aa90d",
        "name": "",
        "topic": "training/device/dimitrie-constantin/temperature",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3cb750b9c42ea4cf",
        "x": 500,
        "y": 220,
        "wires": []
    },
    {
        "id": "4ba681263bb8432c",
        "type": "debug",
        "z": "9905b02a938aa90d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 340,
        "wires": []
    }
]